<div style="width: 100%" class="row">
  <div class="leftCol col-md-4 col-sm-6 col-xs-6">
    <!-- {{ storedNotes.Notes | json }} -->
    <div class="heading">Notes</div>
    <div class="noNotes" *ngIf="!storedNotes?.Notes?.notes?.length">
      No notes to display
    </div>
    <div class="list">
      <ng-container *ngIf="storedNotes?.Notes?.notes?.length">
        <div
          *ngFor="
            let note of storedNotes.Notes.notes | search: searchItem;
            let i = index
          "
        >
          <div
            class="eachNote"
            [ngClass]="{ active: focusNote[i] }"
            (click)="selectedNote(note, i)"
          >
            <p class="title" *ngIf="note.title === ''">
              New Note
            </p>
            <p
              class="title"
              *ngIf="note.title !== ''"
              [(ngModel)]="editOrAddNote"
              ngDefaultControl
            >
              {{ note?.title }}
            </p>
            <p class="body" *ngIf="note.body === ''">
              No additional information
            </p>
            <p class="body" *ngIf="note.body !== ''">
              {{ note?.body }}
            </p>
            <span class="date">{{ note.timeStamp | date: "medium" }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rightCol col-md-8 col-sm-6 col-xs-6 writingSpace">
    <ng-container *ngIf="storedNotes?.Notes?.notes?.length">
      <h5 *ngIf="(storedNotes?.Notes?.notes)[index]?.title">
        {{ (storedNotes?.Notes?.notes)[index]?.title }}
      </h5>
      <ng-container *ngIf="titleSave">
        <textarea
          placeholder="Start Typing here..."
          type="text"
          name="noteBody"
          autofocus
          (keyup)="debounceText($event.target.value)"
          [(ngModel)]="storedNotes.Notes.notes[index].body"
        >
        </textarea>
      </ng-container>
      <ng-container *ngIf="!titleSave">
        <textarea
          placeholder="Start Typing here..."
          type="text"
          name="noteBody"
          autofocus
          (keyup)="debounceText($event.target.value)"
          [(ngModel)]="storedNotes.Notes.notes[index].title"
        >
        </textarea>
      </ng-container>
    </ng-container>

    <!-- {{ (storedNotes?.Notes?.Notes?.notes)[index]?.body | json }} -->
  </div>
</div>
