.container {
  padding: 0;
  margin: 0;
}
.list {
  border-right: 1px solid;
  height: -webkit-fill-available;
  max-height: inherit;
  /* padding: 0; */
  /* margin: 0; */
  overflow-y: auto;
}
.eachNote {
  border-bottom: 1px solid;
  cursor: pointer !important;
}
.heading {
  padding-top: 2%;
  padding-bottom: 2%;
  border-right: 1px solid;
  text-align: center;
  font-size: 130%;
  background-color: darkgray;
}
.body,
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  font-weight: bold;
  width: calc(50%);
}
.body {
  width: calc(80%);
}
.active {
  background-color: wheat;
}
textarea {
  width: 100%;
  height: -webkit-fill-available;
  border: none;
}
.writingSpace {
  margin-top: 5%;
}
p,
span {
  margin-left: 1%;
}
.noNotes {
  border-right: 1px solid;
  text-align: center;
}
