/* .container {
  padding: 0;
  margin: 0;
} */
.list {
  border-right: 1px solid;
  height: 100vh;
  max-height: 100vh;
  height: -webkit-fill-available;
  max-height: inherit;
  /* padding: 0; */
  /* margin: 0; */
  overflow-y: auto;
}
.eachNote {
  border-bottom: 1px solid;
  cursor: pointer !important;
}
.heading {
  padding-top: 2%;
  padding-bottom: 2%;
  border-right: 1px solid;
  text-align: center;
  font-size: 130%;
  background-color: darkgray;
}
.body,
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title {
  font-weight: bold;
  width: calc(50%);
}
.body {
  width: calc(80%);
}
.active {
  background-color: wheat;
}
textarea {
  width: 80%;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
  border: none;
}
.writingSpace {
  margin-top: 5%;
}
p,
span {
  margin-left: 1%;
}
.noNotes {
  border-right: 1px solid;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .row {
    margin: 0;
  }
  .rightCol,
  .leftCol {
    padding: 0;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  .list,
  .heading,
  .noNotes {
    border-right: none;
  }
  textarea {
    margin-left: 8%;
    margin-top: 4%;
  }
}
