.row {
  position: relative;
}
.heading {
  text-align: center;
  font-size: 125%;
  background-color: darkgray;
  padding: 2%;
}
.sideBar {
  position: fixed;
  left: 0;
  width: 30%;
  border-right: 1px solid;
  height: 94%;
}
.each-note {
  padding: 3%;
  border-bottom: 1px solid;
  height: 14%;
  max-height: 15%;
  overflow-y: auto;
  top: 10%;
}
